<section class="bg-gradient-to-b from-tan-900 to-tan-800">
	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
		<div class="mx-auto max-w-screen-lg text-center mb-8 lg:mb-16">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
				Our Team
			</h2>
			<p class="text-lg text-gray-600 text-left">
				We have a full fledged team to successfully deliver all our services in
				a highly professional manner. Our team consists of Sr Architects, Design
				Manager, Sr Interior Designer, Jr Interior Designer, 3D Visualiser,
				Draftsman, Project Manager, Procurement Manager, Admin, Site Engineer,
				Site Supervisors, and Interns.
			</p>
		</div>
		<div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
			<div class="items-center bg-tan-900 rounded-lg shadow-lg sm:flex">
				{
					/* <div>
							<Image
								class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg "
								src={PlaceholderImage}
								alt="Vasu Mulleti"
							/>
						</div> */
				}

				<div class="p-5">
					<h3 class="text-xl font-bold tracking-tight text-gray-900">
						Vasu Mulleti
					</h3>
					<span class="text-gray-500"> Principal Architect</span>
					<p class="mt-3 mb-4 font-light text-gray-500">
						With more than two decades of experience in architecture, Mr. Vasu
						Mulleti has collaborated with corporate giants including Indu
						Projects and Maytas, while also undertaking freelance projects,
						prior to establishing Styka.
					</p>
				</div>
			</div>
			<div class="items-center bg-tan-900 rounded-lg shadow sm:flex">
				{
					/* <div>
							<Image
								class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg "
								src={PlaceholderImage}
								alt="Vamshi Raj"
							/>
						</div> */
				}

				<div class="p-5">
					<h3 class="text-xl font-bold tracking-tight text-gray-900">
						Vamshi Raj
					</h3>
					<span class="text-gray-500"> Co-Founder</span>
					<p class="mt-3 mb-4 font-light text-gray-500">
						An engineer by education and a product of BITS-Pilani. He has both
						corporate and entrepreneural experience before starting Styka. At
						Styka, he is incharge of operations, strategy, finance, HR, and
						technology.
					</p>
				</div>
			</div>
			<div class="items-center bg-tan-900 rounded-lg shadow sm:flex">
				{
					/* <div>
							<Image
								class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg "
								src={PlaceholderImage}
								alt="Kanti Kiran"
							/>
						</div> */
				}

				<div class="p-5">
					<h3 class="text-xl font-bold tracking-tight text-gray-900">
						Kanti Kiran
					</h3>
					<span class="text-gray-500"> Co-Founder</span>
					<p class="mt-3 mb-4 font-light text-gray-500">
						Also a product of BITS-Pilani, and has prior experience in marketing
						and sales. At Styka, he is incharge of marketing and sales.
					</p>
				</div>
			</div>
			<div class="items-center bg-tan-900 rounded-lg shadow sm:flex">
				{
					/* <div>
							<Image
								class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg "
								src={PlaceholderImage}
								alt="Harish Manda"
							/>
						</div> */
				}

				<div class="p-5">
					<h3 class="text-xl font-bold tracking-tight text-gray-900">
						Harish Manda
					</h3>
					<span class="text-gray-500"> Co-Founder</span>
					<p class="mt-3 mb-4 font-light text-gray-500">
						An alumnus of IIT-Madras and an established business person in
						Hyderabad. He also owns AnTeRa restaurant. He is a silent partner
						and a mentor at Styka.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
