---
import Button from "./ui/Button.astro";
---

<section class="hero-dark-bg-texture bg-jet-500">
	<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
		<div class="mx-auto max-w-screen-sm text-center">
			<h2
				class="mb-4 text-4xl text-tan-900 tracking-tight font-semibold leading-tight text-gray-200"
			>
				Transform your vision into reality
			</h2>
			<p class="mb-6 font-light text-tan-900 text-gray-400 md:text-lg">
				Experience the Styka difference – where creativity meets
				professionalism. Get in touch today!
			</p>
			<a href="/contact"
				><Button style="primary" class="my-5">Get in Touch</Button></a
			>
		</div>
	</div>
</section>
