---
import Button from "./ui/Button.astro";
---

<div class="bg-hero bg-no-repeat bg-center bg-cover h-[70vh] flex items-center">
	<div
		class="flex flex-col items-center justify-center max-w-screen-xl mx-auto"
	>
		<h1
			class="text-center text-tan-900 font-serif font-semibold text-shadow shadow-jet-100 px-2 lg:max-w-5xl tracking-tight leading-relaxed text-6xl md:text-5xl xl:text-6xl"
		>
			Design Your Dream Space
		</h1>
		<p
			class="my-6 text-tan-900 text-shadow shadow-jet-100 max-w-3xl sm:text-2xl text-lg leading-relaxed text-center px-6"
		>
			Expert Architectural and Interior Design Services Tailored to Your Vision
		</p>
		<Button style="primary" href="/contact">Get Started</Button>
	</div>
</div>
